.container
  %h1.my-5.p-3
    タームカード

  %table.table
    %thead
      %tr
        %th
          日付
        %th
          出勤時間
        %th
          退勤時間
        %th
          休憩開始
        %th
          休憩終了
        %th
          休憩時間
        %th
          合計
    %tbody
      -# - @stores.each do |store|
      -#   %tr
      -#     %td
      -#       = store.id
      -#     %td
      -#       = store.name
      -#     %td
      -#       %a.btn.btn-primary{href: store_path(store)}
      -#         設定